<!DOCTYPE html>
<html lang="en">
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div [ngClass]="['site-wrap']">
      <div [ngClass]="['intro-section']" style="background-image: url('assets/images/hero_1.jpg');">
        <div [ngClass]="['container']">
          <div [ngClass]="['row align-items-center']">
            <div [ngClass]="['']" class="col-lg-12 mx-auto text-center" >
              <h1>Duman Academy </h1>
            </div>
          </div>
        </div>
      </div>
  <div></div>

  <div [ngClass]="['site-section']">
    <div [ngClass]="['container']" >
      <div [ngClass]="['row mb-5 justify-content-center text-center']">
        <div [ngClass]="['col-lg-4 mb-5']">
          <h2 [ngClass]="['section-title-underline mb-5']">
            <span>{{Why}}</span>
          </h2>
        </div>
      </div>
      <div [ngClass]="['row']">
        <div [ngClass]="['col-lg-4 col-md-6 mb-4 mb-lg-0']">
          <div [ngClass]="['feature-1 border']">
            <div [ngClass]="['icon-wrapper bg-primary']">
              <span [ngClass]="['flaticon-mortarboard text-white']"></span>
            </div>
            <div [ngClass]="['feature-1-content']">
              <h2>{{PersonalizeLearning}}</h2>
             <p>{{work}}</p>
              <p><a href="#" [ngClass]="['btn btn-primary px-4 rounded-0']">Learn More</a></p>
            </div>
          </div>
        </div>
        <div [ngClass]="['col-lg-4 col-md-6 mb-4 mb-lg-0']">
          <div [ngClass]="['feature-1 border']">
            <div class="icon-wrapper bg-primary">
              <span class="flaticon-school-material text-white"></span>
            </div>
            <div [ngClass]="['feature-1-content']">
              <h2>{{TrustedCourses}}</h2>
              <p>{{ pp}}</p>
              <p><a href="#" [ngClass]="['btn btn-primary px-4 rounded-0']">Learn More</a></p>
            </div>
          </div>
        </div>
        <div [ngClass]="['col-lg-4 col-md-6 mb-4 mb-lg-0']">
          <div [ngClass]="['feature-1 border']">
            <div [ngClass]="['icon-wrapper bg-primary']" >
              <span [ngClass]="['flaticon-library text-white']" ></span>
            </div>
            <div [ngClass]="['feature-1-content']">
              <h2>{{ToolsforStudents}}</h2>
              <p>{{ter}}</p>
              <p><a href="#" [ngClass]="['btn btn-primary px-4 rounded-0']">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div [ngClass]="['container']">
      <div [ngClass]="['row mb-5 justify-content-center text-center']" >
        <div [ngClass]="['col-lg-6 mb-5']" >
          <h2 [ngClass]="['section-title-underline mb-3']" >
            <span>{{PopularCourses}}</span>
          </h2>
          <p>{{dolor}}</p>
        </div>
      </div>

      <div [ngClass]="['container']">
          <div [ngClass]="['row']" >

            <div [ngClass]="['col-lg-4 col-md-6 mb-4']">
              <div [ngClass]="['course-1-item']">
                <figure [ngClass]="['thumnail']">
                  <a href="#"><img src="assets/images/course_5.jpg" alt="Image" [ngClass]="['img-fluid']"></a>
                  <div [ngClass]="['price']">$99.00</div>
                  <div [ngClass]="['category']"><h3>Web Application</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <h2>How To Create Web Apps Using HTML, CSS, PHP</h2>
                  <div [ngClass]="['rating text-center mb-3']">
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                  </div>
                  <p [ngClass]="['desc mb-4']">You can create many sites.</p>
                  <p><a href="course-single.html" [ngClass]="['btn btn-primary rounded-0 px-4']" >Enroll In This Course</a></p>
                </div>
              </div>
            </div>

            <div [ngClass]="['col-lg-4 col-md-6 mb-4']">
              <div [ngClass]="['course-1-item']">
                <figure [ngClass]="['thumnail']">
                  <a href="#"><img src="assets/images/course_1.jpg" alt="Image" [ngClass]="['img-fluid']"></a>
                  <div [ngClass]="['price']">$99.00</div>
                  <div [ngClass]="['category']"><h3>Java Application</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <h2>How To Create Mobile Database Using Java</h2>
                  <div [ngClass]="['rating text-center mb-3']">
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                  </div>
                  <p [ngClass]="['desc mb-4']">You can create many database.</p>
                  <p><a href="course-single.html" [ngClass]="['btn btn-primary rounded-0 px-4']" >Enroll In This Course</a></p>
                </div>
              </div>
            </div>

            <div [ngClass]="['col-lg-4 col-md-6 mb-4']">
              <div [ngClass]="['course-1-item']">
                <figure [ngClass]="['thumnail']">
                  <a href="#"><img src="assets/images/course_6.jpg" alt="Image" [ngClass]="['img-fluid']"></a>
                  <div [ngClass]="['price']">$99.00</div>
                  <div [ngClass]="['category']"><h3>Mobile Application</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <h2>How To Create Mobile Apps Using Ionic</h2>
                  <div [ngClass]="['rating text-center mb-3']">
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                    <span [ngClass]="['icon-star2 text-warning']"></span>
                  </div>
                  <p [ngClass]="['desc mb-4']">You can create many application.</p>
                  <p><a href="#" [ngClass]="['btn btn-primary rounded-0 px-4']" >Enroll In This Course</a></p>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>





    <div [ngClass]="['section-bg style-1']" style="background-image: url('assets/images/bg_1.jpg');">
    <div [ngClass]="['container']" >
      <div [ngClass]="['row']">
        <div [ngClass]="['col-lg-4']">
          <h2 [ngClass]="['section-title-underline style-2']">
            <span>About Our University</span>
          </h2>
        </div>
        <div [ngClass]="['col-lg-8']">
          <p [ngClass]="['lead']">{{ss}}
          </p>
          <p><a routerLink="/aboutacademy" routerLinkActive="Active">{{Read}}</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- // 05 - Block -->

  <div  [ngClass]="['site-section']">
    <div  [ngClass]="['container']">
      <div  [ngClass]="['row mb-5']">
        <div  [ngClass]="['col-lg-4']">
          <h2  [ngClass]="['section-title-underline']">
            <span>{{Testimonials}}</span>
          </h2>
        </div>
      </div>
        <div [ngClass]="['ftco-testimonial-1']">
          <div [ngClass]="['ftco-testimonial-vcard d-flex align-items-center mb-4']">
            <img [src]="image"  alt="Image" [ngClass]="['img-fluid mr-3']" >
            <div>
              <h3>{{JonasTabble}}</h3>
              <span>{{Senior}}</span>
            </div>
          </div>
          <div>
            <p>
              {{elit}}
            </p>
          </div>
        </div>
        <div [ngClass]="['ftco-testimonial-1']">
          <div [ngClass]="['ftco-testimonial-vcard d-flex align-items-center mb-4']">
            <img [src]="image1"  alt="Image" [ngClass]="['img-fluid mr-3']" >
            <div>
              <h3>{{Era}}</h3>
              <span>{{Director}}</span>
            </div>
          </div>
          <div>
            <p>
              {{elit1}}
            </p>
          </div>
        </div>
        <div [ngClass]="['ftco-testimonial-1']">
          <div [ngClass]="['ftco-testimonial-vcard d-flex align-items-center mb-4']">
            <img [src]="image2"  alt="Image" [ngClass]="['img-fluid mr-3']" >
            <div>
              <h3>{{LailaSeidull}}</h3>
              <span>{{Junior}}</span>
            </div>
          </div>
          <div>
            <p>
              {{elit2}}
            </p>
          </div>
        </div>
        <div [ngClass]="['ftco-testimonial-1']">
          <div [ngClass]="['ftco-testimonial-vcard d-flex align-items-center mb-4']">
            <img [src]="image3"  alt="Image" [ngClass]="['img-fluid mr-3']" >
            <div>
              <h3>{{DanielBill}}</h3>
              <span>{{Science}}</span>
            </div>
          </div>
          <div>
            <p>
              {{elit3}}
            </p>
          </div>
        </div>
        <div [ngClass]="['ftco-testimonial-1']">
          <div [ngClass]="['ftco-testimonial-vcard d-flex align-items-center mb-4']">
            <img [src]="image4"  alt="Image" [ngClass]="['img-fluid mr-3']" >
            <div>
              <h3>{{CratRack}}</h3>
              <span>{{ Developer }}</span>
            </div>
          </div>
          <div>
            <p>
              {{elit4}}
            </p>
          </div>
        </div>
        <div [ngClass]="['ftco-testimonial-1']">
          <div [ngClass]="['ftco-testimonial-vcard d-flex align-items-center mb-4']">
            <img [src]="image5"  alt="Image" [ngClass]="['img-fluid mr-3']" >
            <div>
              <h3>{{TaylorSimpson}}</h3>
              <span>{{Engenering}}</span>
            </div>
          </div>
          <div>
            <p>
              {{elit5}}
            </p>
          </div>
        </div>
    </div>
  </div>

  <div [ngClass]="['news-updates']">
    <div [ngClass]="['container']">
      <div [ngClass]="['row']">
        <div [ngClass]="['col-lg-9']">
          <div [ngClass]="['section-heading']">
            <h2 [ngClass]="['text-black']">{{update}}</h2>
            <a href="#">{{News}}</a>
          </div>
          <div [ngClass]="['row']">
            <div [ngClass]="['col-lg-6']">
              <div [ngClass]="['post-entry-big']">
                <a routerLink="/news-single" [ngClass]="['img-link']"><img [src]="photo" alt="Image"  [ngClass]="['img-fluid']" ></a>
                <div [ngClass]="['post-content']">
                  <div [ngClass]="['post-meta']">
                    <a href="#">{{moon}}</a>
                    <span  [ngClass]="['mx-1']">/</span>
                    <a href="#">Admission</a>, <a href="#">Updates</a>
                  </div>
                  <h3 [ngClass]="['']" class="post-heading"><a routerLink="/news-single">Campus Camping and Learning Session</a></h3>
                </div>
              </div>
            </div>
            <div [ngClass]="['col-lg-6']">
              <div class="post-entry-big horizontal d-flex mb-4">
                <a routerLink="/news-single" class="img-link mr-4"><img [src]="photo2"  alt="Image" [ngClass]="['img-fluid']"></a>
                <div [ngClass]="['post-content']">
                  <div [ngClass]="['post-meta']">
                    <a href="#">{{moon}}</a>
                    <span  [ngClass]="['mx-1']">/</span>
                    <a href="#">Admission</a>, <a href="#">Updates</a>
                  </div>
                  <h3 class="post-heading"><a routerLink="/news-single">Campus Camping and Learning Session</a></h3>
                </div>
              </div>

              <div class="post-entry-big horizontal d-flex mb-4">
                <a routerLink="/news-single" class="img-link mr-4"><img [src]="photo3" alt="Image" [ngClass]="['img-fluid']"></a>
                <div [ngClass]="['post-content']">
                  <div [ngClass]="['post-meta']">
                    <a href="#">{{moon}}</a>
                    <span  [ngClass]="['mx-1']">/</span>
                    <a href="#">Admission</a>, <a href="#">Updates</a>
                  </div>
                  <h3 class="post-heading"><a routerLink="/news-single">Campus Camping and Learning Session</a></h3>
                </div>
              </div>

              <div class="post-entry-big horizontal d-flex mb-4">
                <a routerLink="/news-single" class="img-link mr-4"><img [src]="photo2" alt="Image" [ngClass]="['img-fluid']"></a>
                <div [ngClass]="['post-content']">
                  <div [ngClass]="['post-meta']">
                    <a href="#">{{moon}}</a>
                    <span  [ngClass]="['mx-1']">/</span>
                    <a href="#">Admission</a>, <a href="#">Updates</a>
                  </div>
                  <h3 class="post-heading"><a routerLink="/news-single">Campus Camping and Learning Session</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="['col-lg-3']">
          <div   [ngClass]="['section-heading']">
            <h2   [ngClass]="['text-black']">Campus Videos</h2>
            <a href="#">View All Videos</a>
          </div>
          <a href="https://vimeo.com/45830194" [ngClass]="['video-1 mb-4']" data-fancybox="" data-ratio="2">
              <span   [ngClass]="['play']">
                <span   [ngClass]="['icon-play']"></span>
              </span>
            <img src="assets/images/course_5.jpg" alt="Image" [ngClass]="['img-fluid']">
          </a>
          <a href="https://vimeo.com/45830194" [ngClass]="['video-1 mb-4']"  data-fancybox="" data-ratio="2">
                 <span   [ngClass]="['play']">
                <span   [ngClass]="['icon-play']"></span>
                </span>
            <img src="assets/images/course_5.jpg" alt="Image" [ngClass]="['img-fluid']">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- .site-wrap -->



</body>

</html>
