<br><br><br><br><br><br>
<div style="margin-left: 40%">
  <app-nav></app-nav>
</div>
<br><br>
<div  style="margin-left: 40%;">
  <form [formGroup]="form" (ngSubmit)="register()">
        <input style="border-color: black; border-radius: 4px;"  matInput placeholder="First Name" formControlName="firstName" />
    <br> <br>
        <input style="border-color: black; border-radius: 4px;" matInput placeholder="Last Name" formControlName="lastName" />
    <br> <br>
        <input style="border-color: black; border-radius: 4px;" matInput type="email" placeholder="Email" formControlName="email" />
    <br> <br>
        <input style="border-color: black; border-radius: 4px;" matInput type="password" placeholder="Password" formControlName="password" />
    <br> <br>
        <input style="border-color: black; border-radius: 4px;" matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
    <br> <br>
    <button mat-raised-button class="btn btn-primary" type="submit" color="primary">Register</button>
  </form>

  <br><br><br><br>
</div>
